/* This section is specific for our product page */
#product img {
	width: 100%;
}

#product h1,
h2,
h3,
h4,
p,
button {
	text-align: center;
}

.button-container {
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
}

.button-container button {
	border: none;
	padding: 8px 16px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
	margin: 0 10px;
	background-color: white;
	color: black;
	border: 2px solid #008cba;
	border-radius: 10px;
}

.button-container button:hover {
	background-color: #008cba;
	color: white;
}
