/* This section is specific for our product page */
#product img {
	width: 100%;
}

#product h1,
h3,
h4,
p,
button {
	text-align: center;
}

.button-container {
	display: flex;
	justify-content: center;
}

.button-container button {
	margin: 0 10px; /* Optional spacing between buttons */
}
