/* This section is shared for all pages to use with class parameters */

/* Custom font specifications */
@font-face {
	font-family: Lato-Bold;
	src: url(../Lato/Lato-Bold.ttf);
}

@font-face {
	font-family: Lato-Regular;
	src: url(../Lato/Lato-Regular.ttf);
}

.font-lato-bold {
	font-family: Lato-Bold;
}

.font-lato-regular {
	font-family: Lato-Regular;
}
/* Custom font specifications end */

body {
	margin: 0px;
	background: linear-gradient(
		0.25turn,
		rgb(233, 248, 249),
		rgb(165, 191, 252),
		rgb(165, 191, 252),
		rgb(233, 248, 249)
	);
}

.float-left {
	float: left;
}
.float-right {
	float: right;
}

.vertical-center {
	margin: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.container {
	clear: both;
	overflow: auto;
}

.main {
	width: 70%;
	padding-left: 50px;
	padding-right: 50px;
	margin: auto;
	margin-top: 55px;
	margin-bottom: 0px;
}
